@font-face {
    font-family: 'IRAN';
    src: url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRAN.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRAN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IRAN';
    src: url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRANBlack.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRANBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'IRAN';
    src: url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRANBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRANBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IRAN';
    src: url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRAN_SemiBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/amirehsan/jellyfincss@main/IRAN_SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
:host,
html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
  font-family: 'IRAN', sans-serif !important;
}
.backgroundContainer,
.dialog,
html {
  background-color: rgb(9 9 11 / 90%) !important;
}
body {
    font-family: 'IRAN', sans-serif;
}
.skinHeader-withBackground {
  background-color: #18181b;
}
[dir="ltr"] .itemsContainer > .card > .cardBox {
  margin-left: 0;
  margin-right: 1.2em;
  background: #18181b;
  border-radius: 0.5rem;
  padding-bottom: 1rem !important;
}
.cardText-first {
  padding-top: 1rem;
}
.itemProgressBar {
  background: #262d1b !important;
}

.emby-checkbox:checked + span + .checkboxOutline,
.itemProgressBarForeground {
  background-color: #b9f251;
}

.textActionButton {
  font-size: 1rem;
  line-height: calc(0.25rem * 7);
  font-weight: 600;
  letter-spacing: -0.015em;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
.cardOverlayContainer {
  background: rgb(9 58 6 / 50%);
}
.cardBox:not(.visualCardBox) .cardPadder,
.cardContent-shadow {
  box-shadow: unset;
}

.cardOverlayContainer > .cardOverlayFab-primary {
  background-color: rgb(187 244 82 / 70%);
  color: #000000;
}

.paper-icon-button-light:hover:not(:disabled) {
  color: #000000;
  background-color: rgb(187 244 82);
}
.cardText-secondary,
.fieldDescription,
.guide-programNameCaret,
.listItem .secondary,
.nowPlayingBarSecondaryText,
.programSecondaryTitle,
.secondaryText {
  color: #81818a;
}
.countIndicator,
.fullSyncIndicator,
.mediaSourceIndicator,
.playedIndicator {
  background: rgb(35 53 0 / 80%);
  color: #b9f251;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 2px;
  box-shadow: unset;
}

.cardText-secondary {
  font-size: 0.875rem;
  font-weight: 600;
}
.emby-tab-button:hover {
  color: #b8ef50;
}
.navMenuOption-selected, .navMenuOption:hover, .listItem:hover {
    background: #262d1b!important;
    color: white;
}
.listItem:hover .listItem-content .listItemBody .secondary {
    color: #b9f251;
}
.emby-input,
.emby-textarea {
  color: inherit;
  background: color-mix(in oklab, #fff 5%, transparent);
  border: 0.16em solid #292929;
  border-radius: 0.2em;
  border-color: color-mix(in oklab, #fff 10%, transparent);
  font-size: 0.875rem;
  padding-block: 0.625rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
}
.emby-input:focus,
.emby-textarea:focus {
  border-color: #bbf452;
}

.button-link {
  color: #bbf452;
}
.itemBackdrop {
  background: rgb(204 255 0 / 5%) !important;
}
.noBackdropTransparency .detailPageSecondaryContainer {
  background-color: #18181b;
}
.detailRibbon {
  background: #1d1d20;
  color: #ffffff;
}
.mediaInfoText {
  color: #ffffff;
  background: #000;
}
div[data-role="controlgroup"] a.ui-btn-active {
  background: #b9f251 !important;
  color: #000000 !important;
}
.checkboxIcon {
  color: #b9f251;
}
.emby-checkbox:checked + span + .checkboxOutline {
  background-color: #283115;
}
.emby-checkbox:checked + span + .checkboxOutline {
  border-color: #bbf351;
}
.button-submit {
  background: #b9f251;
  color: #000000;
}
.progressring-spiner {
  border-color: #ccff00;
}
.css-192q3pc {
  background-color: #ccff00;
  color: #000;
}
.button-submit:focus {
  background: #262d1b;
  color: #ccff00;
}
.css-195jjve {
  background-color: #262d1b !important;
  color: #ccff00;
}
.css-17c09up.Mui-selected {
  background-color: rgb(204 255 0 / 40%);
}
.css-17c09up.Mui-selected:hover {
  background-color: rgb(204 255 0 / 50%);
}
.defaultCardBackground1 {
  background-color: #ccff00;
  color: #000;
}
.defaultCardBackground2 {
  background-color: #A3CC00;
  color: #000;
}
.defaultCardBackground3 {
  background-color: #728F00;
  color: #000;
}
.defaultCardBackground4 {
  background-color: #415200;
  color: #000;
}
.css-17c09up.Mui-selected .css-37qkju {
    color: #ccff00;
}
.css-17c09up.Mui-selected {
    background-color: #262d1b;
    color: #ccff00;
}
.pageTitleWithDefaultLogo {
    background-image: url(../../assets/img/banner-light.png);
}
.mdl-slider-background-lower {
    background-color: #ccff00;
}
.mdl-slider::-webkit-slider-thumb {
background: #ccff00 !important;
}
.mdl-spinner__layer-1, .mdl-spinner__layer-2, .mdl-spinner__layer-3, .mdl-spinner__layer-4 {
    border-color: #ccff00 !important;
}
.listItemImageButton:hover {
color: #ccff00 !important;
}
.listItemIcon:not(.listItemIcon-transparent) {
    background-color: #ccff00;
}
progress::-moz-progress-bar , progress::-webkit-progress-value, progress[aria-valuenow]:before, div[data-role=controlgroup] a.ui-btn-active, .playbackProgress>div,  {
    background-color: #ccff00
}
.button-accent-flat {
    color: #ccff00 !important
}
.iconOsdProgressInner {
    background: #ccff00;
}
